---
layout: page
title : 文章
header : 所有文章
group: navigation
---
{% include JB/setup %}

{% assign posts_collate = site.posts %}
<div class="page card">
{% include JB/posts_collate %}
</div>

<h2>test1</h2>

<div class="main-post-list hidden">

  <ol class="post-list">
    {% for post in site.posts %}
    <li>
      <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="Read Article: {{ post.title }}">{{ post.title }}</a></h2>
      <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 250 }}&hellip;</p>
      <div class="post-list__meta">        
        <time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">
          <img src="/images/calendar.png" width="20px" /> 
          {{ post.date | date: "%F"}}</time> 
        <div class = "tag-img-icon">
          <img src="/images/tag-icon.svg" width="20px" /> 
        </div>
        <a href="/tags">
          <div class = "post-list-icon-mate">
            <span class="post-list__meta--tags-right">{{ post.tags }}</span>
          </div>
          <div class = "post-list-small-mate">
          <a class="btn-border-small" href={{ post.url }}>Full Text >> </a>
          </div>
      </div>
      <!--<hr class="post-list__divider" />-->
    </li>
    {% endfor %}
  </ol>
  <h2>test6</h2>
  {% include pagination.html %}
  <h2>test7</h2>
</div>

<h2>test4</h2>