* {
    padding: 0;
    margin: 0;
    font-family: Lucida Console, Consolas, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
*:hover {
    color: lime;
}
.backimg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -2;
    background: black;
}

.head-notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 10px;
    z-index: 9999;
    overflow: hidden; /* 隐藏溢出 */
    white-space: nowrap; /* 确保文本不换行 */
}
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.notice-text {
    animation: marquee 20s linear infinite; /* 设置动画 */
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background: black;
}
.radio {
    /* height: 20px; */
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 4px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 1.6em;
}
.radio:hover {
    border-color: lime;
}
.radio:hover * {
    color: lime;
}
.radio:hover .cardtitle {
    background-color: rgba(0, 255, 0, 0.2);
}
.radiocard {
    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;;
    
    display: flex;
    justify-content: center;
    align-items: top;
    transition: all 0.5s;
    /* animation: fadeIn 1.5s; */
    z-index: 2;
}
.title h1 {
    margin-top: 60px;
    font-size: 36px;
    line-height: 72px;
    
    text-align: center;
    color: white;
    transition: all 0.5s;
    /* animation: fadeIn 1.5s; */
}
h1:hover {
    color: lime;
}
h2 {
    margin-top: 4px;
    font-size: 20px;
    line-height: 36px;
    color: white;
    
    transition: all 0.5s;
}
h2:hover {
    color: lime;
}
p {
    color: white;
    font-size: 18px;
    
}
p:hover {
    color: lime;
}

.cardtitle
{
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    justify-items: center;
}
.cardtitle h2 {
    margin-left: 1.6em;
    text-align: left;
}
.chat-container {
    margin-left: 10vw;
    margin-right: 10vw;
    
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    
}
.chat-container pre {
    width: 30vw;
}
.chat-content {
    overflow-y: scroll;
    scrollbar-color: white transparent;
    /* scrollbar-width: thin; */
    margin: 1.6em;
    height: 60vh;
    position: relative;
}
.chat-content:hover {
    scrollbar-color: lime transparent;
}
.chat-container .chat-text {
    /* background-color: blue; */
    color: white;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
    line-height: 24px;
    
}

.left-column {
    margin-right: 0.8em;
    flex: 1 1 150px;
    height: 75vh;
    /* background-color: blue; */
    display: flex;
    flex-flow: column;
}
.right-column {
    margin-left: 0.8em;
    flex: 1 1 150px;
    height: 75vh;
    /* background-color: blue; */
    display: flex;
    flex-flow: column;
    /* padding: 1.6em 0; */
}

.card {
    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 4px;
    flex: 1;
    margin-bottom: 1.6em;
}
.card:hover {
    border-color: lime;
}
.card:hover * {
    color: lime;
}
.card:hover .cardtitle {
    background-color: rgba(0, 255, 0, 0.2);
}
.cardimg {
    position: relative;
    overflow: hidden;
    width: 30vw;
    height: 25vh;
    display: flex;
    transform: translateX(-50%);
    left: 50%
}
.cardimg image {
    position: relative;
    object-fit: contain;
    transform: translateX(-50%);
    left: 50%
}
.left-column-2 {
    margin-right: 0.8em;
    flex: 1 1 150px;
    height: 35vh;
    /* background-color: blue; */
    display: flex;
    flex-flow: column;
}
.right-column-2 {
    margin-left: 0.8em;
    flex: 1 1 150px;
    height: 35vh;
    /* background-color: blue; */
    display: flex;
    flex-flow: column;
    /* padding: 1.6em 0; */
}

.input-left {
    margin-right: 1.6em;
    flex: 1 1 150px;
    height: 20vh;
    /* background-color: blue; */

    border-radius: 10px;
    border: solid;
    border-color: white;
    border-width: 4px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.6em
}
.input-left:hover {
    border-color: lime;
}
.input-left:hover * {
    color:lime;
}
input {
    font-size: 18px;
    font-family: "Lucida Console", "Consolas";
    margin-bottom: 0.8em;
}
.nametag {
    background-color: transparent;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}

.bottom-chat {
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-chat-container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: bottom;
    justify-content: space-between;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    padding: 1.6em;
    background-color: black;
}
.bottom-chat-container:hover {
    border-color: lime;
}
.msgbox {
    width: 36vw;
    font-size: 18px;
    font-family: "Lucida Console", "Consolas";

    flex: 1 1 auto;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;

    overflow-wrap: break-word;
    word-wrap: break-word;
}
.msgbox:focus {
    outline: none;
}
button {
    font-size: 18px;
    font-family: "Lucida Console", "Consolas";
    width: 96px;
    background-color: black;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
}
button:hover {
    background-color: rgb(0, 77, 0)
}
.send-button {
    position: absolute;
    bottom: 1.2em;
    right: 1.6em;
}
.front {
    background-color: black;
    color: white;
    height: 100vh;
    background-image: url("images/background-cover.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list {
    margin: 100px, 100px;
}
.list h2 {
    margin-top: 100px;
    margin-left: 10vw;
    color: black;
    font-size: 36px;
    font-family: "Lucida Console", "Consolas";
    line-height: 64px;
    transition: all 0.5s;
    animation: fadeIn 1.5s;
}
.list h2:hover {
    transform: translate(0, -10px);
    text-shadow:0 16px 32px 0 rgba(48, 55, 66, 0.15);
}
.list p {
    margin-top: 12px;
    margin-left: 10vw;
    margin-right: 28vw;
    font-size: 18px;
    font-family: "Lucida Console", "Consolas";
    line-height: 36px;
    transition: all 0.5s;
    animation: fadeIn 1.5s;
}
.list .txt {
    color: black;
    opacity: 60%;
}
.list .txt:hover {
    transform: translate(0, -10px);
    text-shadow:0 16px 32px 0 rgba(48, 55, 66, 0.15);
}
.list .ref {
    color: black;
    opacity: 100%;
}
.list a {
    color: black;
    text-decoration: none;
}
.list a:hover {
    text-decoration: underline;
}
/* .gallery {
    padding: 100px 10vw 80px;
} */
.gallery .card {
    margin-top: 5vw;
    margin-left: 10vw;
    margin-right: 10vw;
    border-radius: 10px;;
    display: flex;
    justify-content: left;
    align-items: top;
    transition: all 0.5s;
    animation: fadeIn 1.5s;
    background-color:rgba(255, 255, 255, 0.75)
}
.gallery .card:hover {
    transform: translate(0, -10px);
    /* background-color: cyan; */
    box-shadow:0 16px 32px 0 rgba(48, 55, 66, 0.15);
}
.gallery h3 {
    color: black;
    font-size: 24px;
    font-family: "Lucida Console", "Consolas";
    line-height: 48px;
}
.gallery p {
    color: black;
    font-size: 16px;
    font-family: "Lucida Console", "Consolas";
    line-height: 28px;
    opacity: 60%
}
.gallery a {
    color: black;
    text-decoration: none;
}
.gallery a:hover {
    text-decoration: underline;
    opacity: 100%;
}
.gallery .square-image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;;
}
.gallery .square-image img {
    width: auto;
    height: 100%;
    object-fit: cover;
}
.gallery .info {
    margin-left: 5vw;
}
footer {
    margin-top: 120px;
    background-color: black;
    color: white;
    height: 120px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    line-height: 1.8em;
}
footer p {
    margin-left: 10vw;
    font-family: "Lucida Console", "Consolas";
    text-decoration: none;
}

@keyframes circleAnimation {
    0% {
      transform: translateY(6000px);
      opacity: 0;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0.75;
    }
}
  
.circle {
    position: absolute;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    border-radius: 50%;
    animation: circleAnimation 10s forwards;
    pointer-events: none;
}
  
.animate {
    animation-play-state: running;
}
  


@keyframes fadeIn {
    0% {
        opacity:0%;
        transform: translateY(32px);
    }
    100% {
        opacity:100%;
        transform: translateY(0%);
    }
}